:root {
  --main-bg-color: #DDD;
	--main-color: #222;
	--highlight: #D2D;
	--selection: #2D2;
}

body{
	font-family: monospace;
	font-size: medium;
	color: var(--main-color);
	background-color: #000;
	background-image: url("default.png");
	background-size: 100%;
	background-attachment: fixed;
}
#header{
	color: var(--main-color);;
	background-color: var(--main-bg-color);
	margin: 20px;
	padding: 3px;
}
#content{
	background-color: var(--main-bg-color);
	padding: 20px;
	width: 80ch;
	float: right;
	margin: 20px;
	border-width: 20px 1px 1px 1px;
	border-style: solid;
	/*border-color: var(--selection);*/
}
h1{
	font-weight: bolder;
	font-size: medium;
	padding: 5px;
	border: 1px;
	border-style: solid;
	margin: -6px;
	max-width: 100%;
}
h2{
	font-weight: bold;
	font-size: medium;
	text-decoration: underline;
}
li{
	list-style-type: none;
}
em{
	text-decoration: underline;
}
a{
	color: var(--highlight);
	text-decoration: none;
}
a:hover{
	color: var(--main-bg-color);
	background-color: var(--selection);
}
.mdchunk{

}
