:root {
  --main-bg-color: #DDD;
	--main-color: #222;
	--highlight: #2D2;
	--selection: #D2D;
}

body{
	font-family: monospace;
	font-size: medium;
	color: var(--main-color);
	background-color: #000;
	background-image: url("default_light.png");
	background-size: 100%;
	background-attachment: fixed;
}
