@font-face {
	font-family: 'Conv_SourceCodePro-Light';
	src: url('fonts/SourceCodePro-Light.eot');
	src: local('☺'), url('fonts/SourceCodePro-Light.woff') format('woff'), url('fonts/SourceCodePro-Light.ttf') format('truetype'), url('fonts/SourceCodePro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



:root {
  --main-bg-color: #222;
	--main-color: #DDD;
	--highlight: #D2D;
	--selection: #2D2;
}

body{
	font-family:'Conv_SourceCodePro-Light',Sans-Serif;
	font-size: small;
	color: var(--main-color);
	background-color: #000;
	background-image: url("default.png");
	background-size: 100%;
	background-attachment: fixed;
}
#header{
	color: var(--main-color);;
	background-color: var(--main-bg-color);
	margin: 20px;
	padding: 3px;
}
#content{
	background-color: var(--main-bg-color);
	padding: 20px;
	width: 80ch;
	float: right;
	margin: 0px 20px;
	border-width: 20px 1px 1px 1px;
	border-style: solid;
	/*border-color: var(--selection);*/
}
p{
  margin-top: 0px;
}
img, video{
	width: 100%;
}
h1{
	font-weight: bolder;
	font-size: medium;
	padding: 5px;
	border: 1px;
	border-style: solid;
	margin: -6px;
	max-width: 100%;
}
h2{
	font-weight: bold;
	font-size: medium;
	text-decoration: underline;
}
h3{
	font-weight: normal;
	font-size: medium;
	text-decoration: none;
  padding-left: 4ch;
  margin-bottom: 0px;
  color: var(--main-bg-color);
  background-color: var(--main-color);
}
li{
	list-style-type: circle;
}
em{
	text-decoration: underline;
}
a{
	color: var(--highlight);
	text-decoration: none;
}
a:hover{
	color: var(--main-bg-color);
	background-color: var(--selection);
}
.mdchunk{

}
